@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
  --color-light: #fffbff;
  --color-primary: #2e86ab;
  --color-secondary: #f6f5ae;
  --color-dark: #040403;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

header {
  padding: 1rem;
}

.logo span {
  color: var(--color-primary);
}

.logo + p {
  font-size: 10px;
}

.search-params {
  margin: 2rem 1rem;
}

.search-params form label {
  display: block;
  margin: 0.5rem 0;
}

.search-params input {
  display: block;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.search-params select {
  display: block;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.search-params button {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-light);
  border: transparent;
  padding: 0.25rem;
  margin-top: 0.5rem;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.search-params button:hover {
  background-color: transparent;
  color: var(--color-dark);
  border: 1px solid var(--color-primary);
}

.not-found {
  text-align: center;
  margin-top: 2rem;
}

.pet-card {
  display: flex;
  background: var(--color-secondary);
  margin: 1rem 0;
  padding: 0.25rem;
  grid-gap: 1rem;
  color: var(--color-dark);
  align-items: center;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
}

.pet-card img {
  border-radius: 5px;
}
