@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
  --color-light: #fffbff;
  --color-primary: #2e86ab;
  --color-secondary: #f6f5ae;
  --color-dark: #040403;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

header {
  padding: 1rem;
  color: var(--color-dark);
}

header .logo span {
  color: var(--color-primary);
}

header .logo {
  color: var(--color-dark);
}

header .logo + p {
  font-size: 10px;
}

.search-params {
  margin: 2rem 1rem;
}

.search-params form label {
  display: block;
  margin: 0.5rem 0;
}

.search-params input {
  display: block;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.search-params select {
  display: block;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.search-params button {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-light);
  border: transparent;
  padding: 0.25rem;
  margin-top: 0.5rem;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.search-params button:hover {
  background-color: transparent;
  color: var(--color-dark);
  border: 1px solid var(--color-primary);
}

.not-found {
  text-align: center;
  margin-top: 2rem;
}

.pet-card {
  display: flex;
  background: var(--color-secondary);
  margin: 1rem 0;
  padding: 0.25rem;
  grid-gap: 1rem;
  color: var(--color-dark);
  align-items: center;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
}

.pet-card img {
  border-radius: 5px;
}

.details {
  background: var(--color-secondary);
  border: 1px solid var(--color-primary);
  margin: 1rem;
  padding: 1rem;
  border-radius: 3px;
}

.details button {
  width: 50%;
  display: block;
  margin: 1rem auto;
  background: var(--color-primary);
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 0.75rem;
}

.details button:hover {
  background: transparent;
  border: 1px solid var(--color-primary);
}

.details h1,
.details h2 {
  text-align: center;
}

.carousel {
  text-align: center;
}

.carousel img {
  width: 150px;
  height: 150px;
}

.carousel-smaller img {
  width: 50px;
  height: 50px;
}

.error {
  margin: 1rem;
}
